body, html {
    width: 100%;
    min-height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.widget-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#otp_wgt_77zsjo2vuqhvo {
    /* min-width: 900px; */
    width: 75%;
}
